*{
    margin: 0px;
    padding: 0px;
}

  main{ 
     width:1330px ; 
}
.banner-container{ 
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./Flower\ Ass/background-image"),
    linear-gradient(45deg,rgb(240, 218, 218),rgb(245, 201, 201)
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-size: 80px;
    font-weight: bold;
    color: rgb(22, 3, 16);
    font-style: oblique;
    
}

.description{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(71, 68, 70);
    
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;

}

 .banner-container2{ 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    left: 0px;

    height: 100vh;
    align-items: center;
    color: rgb(123, 236, 218);
    background-color: burlywood;
    background-image: inherit;

    border: 2px solid rgb(240, 236, 243); 

    
}

.title2{
    font-size: 60px;
    font-weight: bold;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.description2{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;

}


 


.about-photo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    
}

 
.clr{
    color: red;
}
  
.box{
    /*    display: inline; */
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 15px;
    /* text-align: center; */
    box-shadow: 15px  15px 15px rgb(212, 212, 206);   
    /* color: rgb(109, 26, 12); */
    border-radius: 200px 200px 0px 0px;
    height: 300px;
    margin-bottom: 50px;
    background-position-x: center;
    background-color: rgb(92, 136, 136);

}
.banner-txt{
    text-align: center;
    padding: 15px;
    font-size: medium;
    align-items: center;
    margin: 100px ;

}
.box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}




.banner{
    background-color: rgb(116, 93, 93);
    
    color: rgb(255, 248, 248);
    margin-top: 50px;
    height: 200px;
    width: 1350px;

}

.des{
    text-align: center;
    padding: 14px;
    font-size: 10px;
    color: rgb(243, 246, 248);
    align-items: center;
}
.banner-bag{
    height:350px;
    background-image: url("./Rectangle\ 9.png"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    /* background-blend-mode: overlay; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    /* display: flex; */
    align-items: center;
}
.copy{
    text-align: center;
    padding: 15px;
}
.gm{
    display: flex;
    justify-content: center;
    
}